<<<<<<< HEAD
*{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #0b0f17;
  color: #e8eefc;
}

.layout{
  display: flex;
  min-height: 100vh
=======
*{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #0b0f17;
  color: #e8eefc;
}

.layout{
  display: flex;
  min-height: 100vh
>>>>>>> 0861bafa27a2afc236e9a29d1e89f53a44d13101
}